.about-section{
    height: 100vh;
}

.text-container{
    height:65vh;
}

@media all and(max-width:600px){

  .text-container{
      height:25vh;
  }
  .about-heading{
      font-family:'Playfair Display','serif';
      font-size:2rem;
      color:black;
      margin-top:40px;
  }  
  .about-paragraph{
    font-family: 'Work Sans','serif';
    line-height:25px;
    margin-top:60px;
    width:95%;
    padding:10px;
    text-align: center;
    font-weight:200;
    color:#686868;
  }
  .wrapper{
      max-width:200px;
      margin:0 auto;
  }
  .about-img{
      width:100%;
  }
}