#about{
    height:65vh;
    min-height:700px;
  }
  
  .text-container{
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
  }
  .about-heading{
  font-family: 'Playfair Display','serif';
  font-size:2.9rem;
  font-weight:600;
  }
  .about-paragraph{
    font-family: 'Work Sans','serif';
    line-height:40px;
    margin-top:4%;
    font-weight:200;
    color:#686868;
  }
  .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:100px;
    font-size:1.2em;
  }
  .about-promo{
    padding:140px 20px 80px 20px;
    height:35vh;
    background-color:#1C1C1C;
  }
  .promo-text{
    color:white;
    width:300px;
    font-size:1.4em;
    font-family:'Work Sans';
    text-transform:uppercase;
    margin-left:70px;
  }
  .fa-w{
    float:left;
    color:white;
  }
  .col-lg-3{
    padding:0;
    margin-left:60px;
  }
  .promo{
    padding:20px;
  }
  .about-img{
    width:350px;
    height:100px;
    margin:0 auto;
    position: relative;
    top:40px;
  }
  
  
    @media only screen and (max-width:600px){
      .about-heading{
        font-size:1.6rem;
      }
      .about-paragraph{
        font-size:.8rem;
        line-height:25px;
      }
    }
    @media only screen and (max-width:768px) and (min-width:600px){
      .about-heading{
        font-size:2rem;
      }
      .about-paragraph{
        font-size:.9rem;
      }
    }
    @media only screen and (max-width:1080px) and (min-width:768px){
      .about-heading{
        font-size:2.4rem;
      }
      .about-paragraph{
        font-size:1.1rem;
        line-height:30px;
      }
  }