.about-promo{
    height:15vh;
    background-color:#1C1C1C;
  }
  .promo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    padding:0px;
    width:300px;
  }
  .promo-text{
    color:white;
    font-size:1.4em;
    margin:0 auto;
    font-family:'Work Sans';
    text-transform:uppercase;
  }
  .fa-w{
    color:white;
    margin-bottom:10px;
  }
  .about-signature{
    font-family:'Pinyon Script';
    margin-top:2%;
  }
    @media only screen and (max-width:600px){
      .about-heading{
        font-size:1.6rem;
      }
      .about-paragraph{
        font-size:.8rem;
        line-height:25px;
      }
      .promo-text{
        font-size:.8rem;
      }
      .about-signature{
        font-size:1.4rem;
      }
    }
    @media only screen and (max-width:768px) and (min-width:600px){
      .about-heading{
        font-size:2rem;
      }
      .about-signature{
        font-size:1.7rem;
      }
      .about-paragraph{
        font-size:.9rem;
      }
      .promo-text{
        font-size:.9rem;
      }
    }
    @media only screen and (max-width:1080px) and (min-width:768px){
      .about-heading{
        font-size:2.4rem;
      }
      .about-signature{
        font-size:2rem;
      }
      .about-paragraph{
        font-size:1.1rem;
        line-height:30px;
      }
      .promo-text{
        font-size:1rem;
      }
  }
@media all and(max-width:600px){
    .promo-section{
        padding:70px 20px 40px 10px;
        background-color:#1C1C1C;
        margin-top:70px;
        height:100vh;
        margin-bottom:20px;
    }
    .promo{
        padding:10px;
        display:block;
        width:100%;
        text-align: center;
    }
    .promo-text{
        color:white;
        width:300px;
        font-size:1em;
        font-family:'Work Sans';
        text-transform:uppercase;
        margin-left:70px;
        display:block;
        margin:0 auto;
      }
      [class^="icon-"], [class*=" icon-"] {
        display: inline-block;
        width: 100%;
    }
    div i {
        text-align:center;
    }
    i{
        margin-bottom:10px;
    }
    }
